li {
  text-align: none;
  display: inline;
  float: right;
}
ul {
  display: inline;
  text-decoration: none;
  float: right;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
